# Interger

In [3]:
x = int(24)
print(x)

24

In [2]:
# literal
x = 24
print(x)

24

# Float

In [4]:
x = float(5.24)
print(x)

5.24

In [6]:
# literal
x = 1.15
print(x)

1.15

# String

In [12]:
x = str("Machine Learning the Future of Bioinformatics")
print(x)

Machine Learning the Future of Bioinformatics

In [13]:
# literal
x = "Machine Learning the Future of Bioinformatics"
print(x)

Machine Learning the Future of Bioinformatics

# List

In [16]:
x = list(("Representation", "Evaluation", "Optimization"))
print(x)

['Representation', 'Evaluation', 'Optimization']

In [17]:
# literal
x = ["Representation", "Evaluation", "Optimization"]
print(x)

['Representation', 'Evaluation', 'Optimization']

# Tuple

In [19]:
x = tuple(("Representation", "Evaluation", "Optimization"))
print(x)

('Representation', 'Evaluation', 'Optimization')

In [21]:
# literal 
x = ("Representation", "Evaluation", "Optimization")
print(x)

('Representation', 'Evaluation', 'Optimization')

# Dictionary

In [38]:
x = dict(name="Zbaglou", age=36)
print(x)

{'name': 'Zbaglou', 'age': 36}

In [37]:
# literal
x = {"name": "Zbaglou", "age": 36}
print(x)

{'name': 'Zbaglou', 'age': 36}

# Set

In [25]:
x = set(("Mostagenm", "West", "of Algeria"))
print(x)

{'Mostagenm', 'West', 'of Algeria'}

In [26]:
# literal
x = {"Mostagenm", "West", "of Algeria"}
print(x)

{'Mostagenm', 'West', 'of Algeria'}

# two operands

In [27]:
a = 24
b = 5
print(a + b)    # Addition
print(a - b)    # Subtraction
print(a * b)    # Multiplication
print(a / b)    # Division
print(a % b)    # Modulus
print(a ** b)   # Exponentiation
print(a // b)   # Floor Division

29
19
120
4.8
4
7962624
4

# Implementing methods and attributes using dir() function

### Integer

In [28]:
x = 24
print(dir(x))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

### Let's create two operands a and b and play around with different operators

In [31]:
a = 24
b = 5

# Arithmetic operators
print(a + b)  # Addition
print(a - b)  # Subtraction
print(a * b)  # Multiplication
print(a / b)  # Division
print(a % b)  # Modulus
print(a ** b)  # Exponentiation

29
19
120
4.8
4
7962624

In [32]:
# Comparison operators
print(a == b)  # Equal to
print(a != b)  # Not equal to
print(a > b)  # Greater than
print(a < b)  # Less than
print(a >= b)  # Greater than or equal to
print(a <= b)  # Less than or equal to

False
True
True
False
True
False

In [33]:
# Logical operators
print(a and b)  # Logical AND
print(a or b)  # Logical OR
print(not a)  # Logical NOT

5
24
False

In [34]:
# Identity operators
print(a is b)  # Returns True if both operands are the same object
print(a is not b)  # Returns True if both operands are not the same object

False
True

In [35]:
# Membership operators
x = [1, 2, 3]
print(1 in x)  # Returns True if the specified value is present in the list
print(4 not in x)  # Returns True if the specified value is not present in the list

True
True

## dir() Function

In [36]:
a = 24
print(dir(a))

b = [1, 2, 3]
print(dir(b))

c = {"name": "Zbaglou", "age": 30}
print(dir(c))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### Given the list of students, assign them the course.

In [47]:
students = ["Duy", "Laxmi", "Antonio", "Maria"]
courses = ["Python", "Database", "ML"]
students_profile = {student: courses for student in students}
print(students_profile) # output: {'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['Python', 'Database', 'ML'], 'Maria': ['Python', 'Database', 'ML']}

### Modify Antonio's course to ["JavaScript","Database","NodeJS"]

In [49]:
students_profile["Antonio"] = ["JavaScript", "Database", "NodeJS"]
print(students_profile) # output: {'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS'], 'Maria': ['Python', 'Database', 'ML']}

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS'], 'Maria': ['Python', 'Database', 'ML']}

### Add "ReactJs" to Anonio's course

In [51]:
students_profile["Antonio"].append("ReactJs")
print(students_profile) # output: {'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs'], 'Maria': ['Python', 'Database', 'ML']}

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs'], 'Maria': ['Python', 'Database', 'ML']}

### Replace Antonio's "ReactJs" to "Vuejs"

In [53]:
students_profile["Antonio"][3] = "Vuejs"
print(students_profile) # output: {'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs'], 'Maria': ['Python', 'Database', 'ML']}

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs'], 'Maria': ['Python', 'Database', 'ML']}

### Remove an item from dictionary

In [46]:
del students_profile["Maria"]
print(students_profile) # output: {'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs']}

{'Duy': ['Python', 'Database', 'ML'], 'Laxmi': ['Python', 'Database', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs']}

# Create a list of item

In [56]:
countries = ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]
print(countries.index("Sweden")) # output: 1

1

### Get all the items except the first

In [59]:
print(countries[1:]) # output: ['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

### Get all the items except the last

In [60]:
print(countries[:-1]) # output: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']

### Find the last item using negative indexing

In [61]:
print(countries[-1]) # output: Iceland

Iceland

### Find the last three item using negative indexing

In [62]:
print(countries[-3:]) # output: ['Germany', 'Norway', 'Iceland']

['Germany', 'Norway', 'Iceland']

### Grab all the items with odd indices

In [63]:
print(countries[1::2]) # output: ['Sweden', 'Netherlands', 'Norway']

['Sweden', 'Netherlands', 'Norway']

### Find the first and last item for the list

In [64]:
print(countries[0], countries[-1]) # output: Finland Iceland

Finland Iceland

### Get ["Netherlands","Germany","Norway"] using negative indexing

In [65]:
print(countries[-4:-1]) # output: ['Netherlands', 'Germany', 'Norway']

['Netherlands', 'Germany', 'Norway']

### Reverse the list

In [66]:
print(countries[::-1]) # output: ['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

### What is the output of countries[::-2]

In [70]:
print(countries[::-2]) # output: ['Iceland', 'Germany', 'Denmark', 'Finland']

['Iceland', 'Germany', 'Denmark', 'Finland']

### What is the output of countries[1ðŸ’¯2]?

In [72]:
print(countries[1:2]) # output: IndexError: list index out of range

['Sweden']

### What is the output of countries[len(countries)-1:0:2]?

In [74]:
print(countries[len(countries)-1:0:2]) # output: []

[]

In [ ]:
### Get the output ['Germany', 'Netherlands', 'Denmark']

In [76]:
print(countries[-4:-1]) # output: ['Netherlands', 'Germany', 'Norway']

['Netherlands', 'Germany', 'Norway']

### enumerate method to get index and values in the list

In [81]:
# create a list of countries
countries = ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]

# use enumerate method to get index and values in the list
for index, country in enumerate(countries):
    print(index, country)

0 Finland
1 Sweden
2 Denmark
3 Netherlands
4 Germany
5 Norway
6 Iceland

### two lists of same length, create a dictionary using a list as keys and another list as values without using loop

In [79]:
keys = ["a","b","c","d"]
values = [1,2,3,4]
dictionary = dict(zip(keys, values))
print(dictionary) # output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}